:host {
  display: block;
  height: 100%;
  width: 100%;
}

.add-form {
  height: 100%;
  margin-right: 200px;

  .buttons {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: end;
  }
}
