:host ::ng-deep {
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-focus-outline-color: grey;
  }

  .error .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-color: red;
  }

  .mat-mdc-select-arrow {
    display: none;
  }
}

::ng-deep {
  .hide-checkbox .mat-pseudo-checkbox {
    display: none;
  }
}

.select {
  display: flex;
  flex-direction: column;
}
