<div class="select">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-select [formControl]="control" [multiple]="isMultiple" [placeholder]="placeholder">
      <mat-option *ngFor="let option of options" [value]="option" class="hide-checkbox">
        <div>
          {{ option[optionName] }}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <cv-gen-error-message
    [showError]="control.invalid && control.touched"
    [errors]="control.errors"></cv-gen-error-message>
</div>
