<div class="input">
  <label class="input__label" for="labelId"
    >{{ label }}
    <span *ngIf="ngControl.invalid && (ngControl.dirty || ngControl.touched)">*</span></label
  >

  <input class="input__element" [formControl]="control" id="labelId" [placeholder]="placeholder" />

  <div class="errors" *ngIf="ngControl.invalid && (ngControl.dirty || ngControl.touched)">
    <ul class="errors__list">
      <li *ngFor="let error of ngControl.errors | keyvalue">
        {{ errorMessages[error.key] }}
      </li>
    </ul>
  </div>
</div>
