<div class="textarea">
  <cv-gen-label
  [label]="label"
  [hasError]="control.invalid && control.touched"
  id="textareaId"></cv-gen-label>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <textarea
      [formControl]="control"
      id="textareaId"
      [placeholder]="placeholder"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="6"
      cdkAutosizeMaxRows="8">
    </textarea>
  </mat-form-field>

  <cv-gen-error-message
    [showError]="control.invalid && control.touched"
    [errors]="control.errors"></cv-gen-error-message>
</div>
