<div class="container">
  <form [formGroup]="loginForm" class="form">
    <div class="inputs">
      <cv-gen-input
        id="nameId"
        formControlName="userName"
        placeholder="auth.login.userName.placeholder"
        label="auth.login.userName.label"></cv-gen-input>
      <cv-gen-input
        id="passwordId"
        type="password"
        formControlName="password"
        placeholder="auth.login.password.placeholder"
        label="auth.login.password.label"></cv-gen-input>
    </div>

    <div class="bottom-items">
      <mat-checkbox class="example-margin" formControlName="checkBox">{{
        'auth.login.checkbox' | translate
      }}</mat-checkbox>

      <a routerLink="" class="link">
        {{ 'auth.login.forgotPassword' | translate }}
      </a>
    </div>

    <button
      class="button"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="loginForm.invalid">
      {{ 'auth.login.button' | translate }}
    </button>
  </form>
</div>
