<div [formGroup]="projectForm" class="form">
  <div class="item">
    <cv-gen-input
      id="projectNameId"
      formControlName="projectName"
      placeholder="home.project.projectName.placeholder"
      label="home.project.projectName.label"></cv-gen-input>
  </div>
  <div class="item">
    <cv-gen-datepicker
      id="startDateId"
      placeholder="home.project.startDate.placeholder"
      label="home.project.startDate.label"
      formControlName="startDate"></cv-gen-datepicker>
  </div>

  <div class="item">
    <cv-gen-datepicker
      id="endDateId"
      formControlName="endDate"
      placeholder="home.project.endDate.placeholder"
      label="home.project.endDate.label"></cv-gen-datepicker>
  </div>

  <div class="item">
    <cv-gen-textarea
      id="descriptionId"
      formControlName="description"
      placeholder="home.project.description.placeholder"
      label="home.project.description.label"></cv-gen-textarea>
  </div>

  <div class="item">
    <cv-gen-input
      id="teamSizeId"
      type="number"
      formControlName="teamSize"
      placeholder="home.project.teamSize.placeholder"
      label="home.project.teamSize.label"></cv-gen-input>
  </div>

  <div class="item">
    <cv-gen-autocomplete-select
      id="techStackId"
      formControlName="techStack"
      [options$]="teachStackOptions$"
      placeholder="home.project.teachStack.placeholder"
      label="home.project.teachStack.label"></cv-gen-autocomplete-select>
  </div>

  <div class="item">
    <cv-gen-autocomplete-select
      id="teamRolesId"
      formControlName="teamRoles"
      [options$]="rolesOptions$"
      placeholder="home.project.roles.placeholder"
      label="home.project.roles.label"></cv-gen-autocomplete-select>
  </div>

  <div class="item">
    <cv-gen-autocomplete-select
      id="responsibilitiesId"
      formControlName="responsibilities"
      [options$]="responsibilitiesOptions$"
      placeholder="home.project.responsibilities.placeholder"
      label="home.project.responsibilities.label"></cv-gen-autocomplete-select>
  </div>
</div>
