.textarea {
  display: flex;
  flex-direction: column;

  //TODO remove to label
  label {
    font-size: 12px;
    margin-bottom: 4px;
  }

  span {
    color: #ff4d4f;
    margin-left: 4px;
  }
}

:host ::ng-deep {
  mat-form-field {
    .mdc-text-field {
      padding: 0 12px;
    }
  }

  //border
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 4px;
    --mdc-outlined-text-field-focus-outline-color: grey;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: slategrey;
}
