<div class="textarea">
  <label for="labelId">{{ label }} <span *ngIf="control.invalid && control.touched">*</span></label>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <textarea
      [formControl]="control"
      id="labelId"
      [placeholder]="placeholder"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="6"
      cdkAutosizeMaxRows="8">
    </textarea>
  </mat-form-field>

  <cv-gen-error-message
    [showError]="control.invalid && control.touched"
    [errors]="control.errors"></cv-gen-error-message>
</div>
