<div>
  <cv-gen-label
    [label]="label"
    [hasError]="control.invalid && inputControl.touched"
    [id]="id"></cv-gen-label>

  <div class="autocomplete">
    <mat-chip-grid #chipGrid aria-label="Chips selection" class="chips">
      <mat-chip-row
        *ngFor="let chip of chips"
        (removed)="removeChip(chip)"
        [formControl]="control"
        name="chip"
        ngDefaultControl
        class="chip">
        {{ chip }}
        <button matChipRemove [attr.aria-label]="'remove ' + chip">
          <mat-icon fontIcon="cancel"></mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>

    <input
      type="text"
      [placeholder]="placeholder | translate"
      [formControl]="inputControl"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="addChip($event)"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputFor]="chipGrid" />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectChip($event)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option" class="hide-checkbox">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <cv-gen-error-message
      [showError]="control.invalid && inputControl.touched"
      [errors]="control.errors"></cv-gen-error-message>
  </div>
</div>
