<div class="container">
  <h1>Forms</h1>

  <form [formGroup]="textform" class="container-form">
    <div class="container-item">
      <h2>Simple text input</h2>
      <cv-gen-input
        formControlName="userName"
        placeholder="test placeholder"
        label="test input label"></cv-gen-input>
    </div>

    <div class="container-item">
      <h2>Simple text area</h2>
      <cv-gen-textarea
        formControlName="textarea"
        label="test textarea label"
        placeholder="test textarea placeholder"></cv-gen-textarea>
    </div>
    <button (click)="onTextSubmit()">Text submit</button>
  </form>

  <mat-divider></mat-divider>
  <form [formGroup]="selectForm" class="container-form">
    <div class="container-item">
      <h2>Select</h2>
      <cv-gen-select
        label="select label"
        placeholder="select placeholder"
        formControlName="selectedOption"
        [options]="testOptions">
      </cv-gen-select>
    </div>

    <div class="container-item">
      <h2>Multi Select</h2>
      <cv-gen-select
        label="Multi select label"
        placeholder="Multi select placeholder"
        formControlName="multiSelectedOptions"
        [options]="testOptions"
        [isMultiple]="true">
      </cv-gen-select>
    </div>
    <button (click)="onSelectSubmit()">Select submit</button>
  </form>

  <mat-divider></mat-divider>
  <form [formGroup]="autocompleteForm" class="container-form">
    <div class="container-item">
      <h2>Autocomplete</h2>
      <cv-gen-autocomplete
        formControlName="textValue"
        [options]="autocompleteTestOptions"
        placeholder="Autocomplete placeholder"></cv-gen-autocomplete>
    </div>
    <button (click)="onAutoCompleteSubmit()">Autocomplete submit</button>
  </form>

  <mat-divider></mat-divider>
  <form [formGroup]="autocompleteSelectForm" class="container-form">
    <div class="container-item">
      <h2>Autocomplete Select</h2>
      <cv-gen-autocomplete-select
        formControlName="multiSelectedOptionsAndNewOptions"
        [options$]="autocompleteSelectTestOptions"
        placeholder="Autocomplete select placeholder"></cv-gen-autocomplete-select>
    </div>
    <button (click)="onAutoCompleteSelectSubmit()">Autocomplete Select submit</button>
  </form>

  <mat-divider></mat-divider>
  <h2>Table</h2>
  <div>
    <cv-gen-table [tableData]="tableData" [columns]="columns" [linkUrl]="linkUrl"></cv-gen-table>
  </div>

  <mat-divider></mat-divider>
  <form [formGroup]="datepickerForm" class="container-form">
    <div class="container-item">
      <h2>Date Picker</h2>
      <cv-gen-datepicker formControlName="date"></cv-gen-datepicker>
    </div>
    <button (click)="onDatePickerSubmit()">Date Picker submit</button>
  </form>
</div>
