<div class="container">
  <h1>Forms</h1>
  <form [formGroup]="textform">
    <div class="container-item">
      <h2>Simple text input</h2>
      <cv-gen-input
        formControlName="userName"
        placeholder="test placeholder"
        label="test input label"></cv-gen-input>
    </div>

    <div class="container-item">
      <h2>Simple text area</h2>
      <cv-gen-textarea
        formControlName="textarea"
        label="test textarea label"
        placeholder="test textarea placeholder"></cv-gen-textarea>
    </div>

    <button (click)="onTextSubmit()">Text submit</button>
  </form>

  <div>
    <form [formGroup]="selectForm">
      <h2>Select</h2>

      <cv-gen-select formControlName="selectedOption" [options]="testOptions"> </cv-gen-select>

      <button (click)="onSelectSubmit()">Select submit</button>
    </form>
  </div>
</div>
