<div class="container">
  <h1>Forms</h1>

  <form [formGroup]="textform" class="container-form">
    <div class="container-item">
      <h2>Simple text input</h2>
      <cv-gen-input
        formControlName="userName"
        placeholder="test placeholder"
        label="test input label"></cv-gen-input>
    </div>

    <div class="container-item">
      <h2>Simple text area</h2>
      <cv-gen-textarea
        formControlName="textarea"
        label="test textarea label"
        placeholder="test textarea placeholder"></cv-gen-textarea>
    </div>

    <button (click)="onTextSubmit()">Text submit</button>
  </form>

  <!-- <mat-divider></mat-divider>
  <form [formGroup]="simpleSelectForm">
    <div class="container-item">
      <h2>Simple select</h2>
      <cv-gen-select formControlName="selectedOption" [options]="testOptions"> </cv-gen-select>
      <button (click)="onSimpleSelectSubmit()">Simple submit</button>
    </div>
  </form> -->

  <mat-divider></mat-divider>
  <form [formGroup]="selectForm" class="container-form">
    <div class="container-item">
      <h2>Select</h2>
      <cv-gen-newselect
        label="select label"
        placeholder="select placeholder"
        formControlName="selectedOption"
        [options]="testOptions">
      </cv-gen-newselect>
    </div>

    <div class="container-item">
      <h2>Multi Select</h2>
      <cv-gen-newselect
        label="Multi select label"
        placeholder="Multi select placeholder"
        formControlName="multiSelectedOptions"
        [options]="testOptions"
        [isMultiple]="true">
      </cv-gen-newselect>
    </div>

    <button (click)="onSelectSubmit()">Select submit</button>
  </form>
</div>
