<div class="cv">
  <div class="list-container">
    <div *ngFor="let cv of employeeCVFormArray.controls; let i = index">
      <button
        class="list-item"
        (click)="handleSelectCV(i)"
        [class.active]="i === selectedCVIndex"
        [class.new]="!cv.controls.id.value">
        <div class="text">
          {{ cv.controls.cvName.value }}
        </div>

        <button
          (click)="handleDeleteCV($event, i)"
          class="button-delete-cv"
          [class.active]="i === selectedCVIndex">
          <mat-icon fontIcon="delete_outline"></mat-icon>
        </button>
      </button>
    </div>

    <button (click)="handleAddCV()" class="button-add-cv">
      <mat-icon fontIcon="add_box"></mat-icon>
    </button>
  </div>

  <div
    class="cv-content"
    *ngIf="employeeCVFormArray.length"
    [formGroup]="employeeCVFormArray.at(selectedCVIndex)">
    <div class="cv-items">
      <div>
        <cv-gen-input
          id="cvName"
          placeholder="home.employee.cvName.placeholder"
          label="home.employee.cvName.label"
          [formControl]="employeeCVFormArray.at(selectedCVIndex).controls.cvName"></cv-gen-input>
      </div>

      <cv-gen-employee-info-form
        [formControl]="employeeCVFormArray.at(selectedCVIndex).controls.employeeInfo">
      </cv-gen-employee-info-form>

      <cv-gen-autocomplete-select
        id="cvSkills"
        [formControl]="employeeCVFormArray.at(selectedCVIndex).controls.skills"
        [options$]="skillsOptions$"
        placeholder="home.employee.skills.placeholder"
        label="home.employee.skills.label"></cv-gen-autocomplete-select>

      <div class="languages">
        <div
          class="language"
          formArrayName="language"
          *ngFor="let languageItem of language.controls; let i = index">
          <cv-gen-autocomplete
            [formControl]="languageItem.controls.name"
            id="languageNameId"
            placeholder="home.employee.language.placeholder"
            label="home.employee.language.label"
            [options$]="languages$"></cv-gen-autocomplete>

          <cv-gen-autocomplete
            [formControl]="languageItem.controls.level"
            id="languageLevelId"
            placeholder="home.employee.level.placeholder"
            label="home.employee.level.label"
            [options$]="levels$"></cv-gen-autocomplete>

          <button class="button-delete-language" (click)="handleDeleteLanguage(i)">
            <mat-icon fontIcon="delete_outline"></mat-icon>
          </button>
        </div>

        <div>
          <button mat-stroked-button color="primary" (click)="handleAddLanguage()">
            <div>
              {{ 'home.employee.buttons.addLanguage' | translate }}
            </div>
            <mat-icon fontIcon="add"></mat-icon>
          </button>
        </div>
      </div>

      <mat-accordion multi class="accordion">
        <mat-expansion-panel
          togglePosition="before"
          formArrayName="cvsProjects"
          *ngFor="let item of cvsProjects.controls; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ item.value.projectName }} </mat-panel-title>
            <button class="button-delete-project" (click)="handleDeleteProject(i)">
              <mat-icon fontIcon="delete_outline"></mat-icon>
            </button>
          </mat-expansion-panel-header>
          <cv-gen-project-form [formControl]="projectControlName(item)"></cv-gen-project-form>
        </mat-expansion-panel>
      </mat-accordion>

      <div>
        <button mat-stroked-button color="primary" color="primary" (click)="handleADDProject()">
          <div>
            {{ 'home.employee.buttons.addProject' | translate }}
          </div>
          <mat-icon fontIcon="add"></mat-icon>
        </button>
      </div>
    </div>

    <div class="bottom-buttons">
      <button mat-stroked-button color="accent" (click)="handleCancel()">
        {{ 'home.employee.buttons.cancel' | translate }}
      </button>
      <button
        cvGenDebounceClick
        (debounceClick)="handleCVSave()"
        mat-stroked-button
        color="primary">
        {{ 'home.employee.buttons.save' | translate }}
      </button>
    </div>
  </div>
</div>
