:host {
  display: block;
  height: 100%;
  width: 100%;
}

.cv {
  display: flex;
  gap: 26px;

  height: 100%;

  .list-container {
    width: 200px;

    .list-item {
      width: 100%;
      height: 46px;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid #d9d9d9;
      background: none;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        border-bottom: 1px solid #1890ff;
        color: #1890ff;
      }

      &.new {
        color: #4dc59d;
        // background: #4dc59d;
      }

      &:hover {
        background: #f0f2f5;
      }

      .text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .button-delete-cv {
      background: none;
      border: none;
      cursor: pointer;

      &.active {
        color: #1890ff;
      }

      &:hover {
        color: #ff4d4f;
      }
    }

    .button-add-cv {
      background: none;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
  }

  .cv-content {
    height: 100%;
    width: 700px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    .cv-items {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .languages {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .language {
          display: flex;
          gap: 20px;
          align-items: flex-end;

          .button-delete-language {
            background: none;
            border: none;
            cursor: pointer;
            height: 48px;
            &:hover {
              color: #ff4d4f;
            }
          }
        }
      }
    }

    .accordion {
      .button-delete-project {
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
          color: #ff4d4f;
        }
      }
    }

    .add-project-btn {
      margin: 25px 0;
    }

    .bottom-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  }
}
